
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    //border:1px solid red;
}

body {
    overflow: hidden;
    color:white;
}

.upperSection, .lowerSection {
    width: 100%;
    height: 10vh;
    padding: 10px;
    //background-color: rgba(255, 255, 0, 0.404);
}

.mainSection{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80vh;
    //background-color: rgba(0, 128, 0, 0.404);
    padding: 10px;
    display: flex;
    align-items: center;
}



.menuWrapper{
    width: 25%;
    ol {
        list-style-type: none;
    }
    li {
        width: fit-content;
        font-size: 32px;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
        filter: blur(1.5px);
        transition-property: color, font-weight, filter;
        transition-duration:  0.7s;
        transition-timing-function: ease;
        cursor:pointer;
        &.active {
            filter: blur(0);
            font-weight: 700;
            color: white;
            transition-property: color, font-weight, filter;
            transition-duration:  0.5s;
            transition-timing-function: ease;   
            span{
                width: 150px;
                background-color:white;
                transition-property: background-color, font-weight, filter, width;
                transition-duration:  0.5s;
                transition-timing-function: ease;
                
            }
        }
        &:hover{
            filter: blur(0);
            font-weight: 700;
            color: white;
            transition-property: color, font-weight, filter;
            transition-duration:  0.5s;
            transition-timing-function: ease;   
            
            span{
                width: 150px;
                background-color:white;
                transition-property: background-color, font-weight, filter, width;
                transition-duration:  0.5s;
                transition-timing-function: ease;
                
            }
        
        }
        span{
            width: 75px;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.5);
            margin-right: 10px;
            transition-property: background-color, font-weight, filter, width;
            transition-duration:  0.7s;
            transition-timing-function: ease;
    
        }
        
        
    }
        
}

.upperSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .close {
        font-size: 42px;
        font-weight: 400;
        transition: all 1s ease;
        margin-right: 1%;
        display: none;
        &:hover{
            color:red;
            font-weight: 800;
            cursor:pointer;
            transition: all 1s ease;
        }
    }
    
}

.logoWrapper {

    z-index: 10px;

    //background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    //width: fit-content;
    
    span:first-of-type {
        font-size: 38px;
        font-weight: bold;
        //background-color: red;
    }
    span:nth-of-type(2){
        font-size:29px;
        font-weight: light;
        text-transform: uppercase;
        margin-top: -15px;
        //background-color: green;
        
    }
}

.mainWrapper {
    width: 100%;
    height: 100%;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url("/public/assets/imgs/home/01.jpg");
    background-position-y: 7%;
    background-size: cover;
    background-repeat: no-repeat;
}


.lowerSection{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.socialWrapper {
    display: flex;
    align-items: center;
    a{
        margin-right: 10px;
        transition:filter 0.3s ease;
        img{
            width: 32px;
            height: 32px;
            filter: invert(1);
            transition:filter 0.3s ease;
            
        }
        &:nth-of-type(1):hover{
            filter: invert(28%) sepia(56%) saturate(3858%) hue-rotate(323deg) brightness(93%) contrast(89%);
            transition:filter 0.3s ease;
        }
        &:nth-of-type(2):hover{
            filter: invert(39%) sepia(17%) saturate(1708%) hue-rotate(182deg) brightness(96%) contrast(98%);
            transition:filter 0.3s ease;
        }
        &:nth-of-type(3):hover{
            filter: invert(29%) sepia(43%) saturate(2779%) hue-rotate(196deg) brightness(91%) contrast(76%);
            transition:filter 0.3s ease;
        }
        
    }
}

@import 'gallery';